Source: hoteldruid
Section: web
Priority: optional
Maintainer: Marco Maria Francesco De Santis <marco@digitaldruid.net>
Build-Depends: debhelper-compat (= 13), po-debconf
Rules-Requires-Root: binary-targets
Standards-Version: 4.6.0
Homepage: http://www.hoteldruid.com/

Package: hoteldruid
Architecture: all
Depends: ${misc:Depends}, ucf, apache2 | httpd, libapache2-mod-php | php-cgi | php,
 php-sqlite3, php-xml
Recommends: php-imap
Suggests: firefox | www-browser, php-mysql | php-pgsql, sensible-utils
Description: web-based property management system for hotels or B&Bs
 HotelDruid is designed to make hotel rooms, bed and breakfast apartments,
 or any other kind of daily rental easy to manage from a web browser.
 .
 Main features:
  * automatic assignment of reservations to rooms by user-defined rules;
  * creation of public web pages displaying room availability, etc.;
  * saving, printing, and emailing of documents and invoices;
  * electronic point of sale;
  * management of groups and privileges for multi-user operation;
  * generation of statistical reports.
 .
 It uses an SQLite database by default but can be configured for use
 with MySQL or PostgreSQL.
